# Virtual Environment
venv/
.venv/
env/
.env

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# PyInstaller
*.spec

# Test and coverage
.coverage
.tox/
.nox/
.cache/
.pytest_cache/
htmlcov/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# mypy
.mypy_cache/

# pipenv
Pipfile.lock

# dotenv
.env.*

# Logs and databases
*.log
*.db
*.sqlite3

# Other
.DS_Store
Thumbs.db