# Auto-detect text files and perform LF normalization
* text=auto

# Explicitly declare text files you want to always be normalized
*.py text
*.md text
*.txt text
.gitignore text

# Declare files that will always have LF line endings on checkout
*.py eol=lf
*.sh eol=lf